/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #161d29 inset !important;
  box-shadow: 0 0 0 30px #161d29 inset !important;
  -webkit-text-fill-color: #fff !important;
  border: 1px solid #161d29 !important;
} */

.w20 {
  width: 57.33px !important;
  height: 48px;
  border-radius: 4px;
  font-size: 1.5em;
}

input {
  border: 1px solid #161d29;
}

.box_Shadow {
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.18) inset;
}

.video_shadow {
  box-shadow: 20px 20px 0px 0px #f5f5f5;
}

.codeBlock_background {
  background: linear-gradient(
    111.93deg,
    rgba(14, 26, 45, 0.24) -1.4%,
    rgba(17, 30, 50, 0.38) 104.96%
  );

  border: 1px solid;

  border-image-source: linear-gradient(
    121.74deg,
    rgba(255, 255, 255, 0.22) -7.75%,
    hwb(0 70% 18% / 0)
  );
}

.bg_yellow {
  background: linear-gradient(
    123.77deg,
    #8a2be2 -6.46%,
    #ffa500 59.04%,
    #f8f8ff 124.53%
  );
  backdrop-filter: 10px;
  position: absolute;
  left: 2rem;
  top: 25%;
  width: 15rem;
  height: 6rem;
  border: 1px solid red;
  z-index: 4;
  filter: blur(100px);
}

.bg_blue {
  background: linear-gradient(
    118.19deg,
    #1fa2ff -3.62%,
    #12d8fa 50.44%,
    #a6ffcb 104.51%
  );
  backdrop-filter: 10px;
  position: absolute;
  left: 2rem;
  top: 25%;
  width: 15rem;
  height: 6rem;
  border: 1px solid red;
  z-index: 4;
  filter: blur(100px);
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.instructor_shadow {
  box-shadow: -20px -20px 0px 0px #ffffff;
}

.homepage_bg {
  background: url("../src/assets/Images/bghome.svg");
}

.cardShadows {
  box-shadow: 12px 12px 0px 0px #ffd60a;
}

.login_AccountType_Shadow {
  box-shadow: 0px -1px 0px 0px #ffffff2e inset;
}

.transparentAutoFill {
  -webkit-text-fill-color: transparent;
}

.btn_shadow {
  box-shadow: -0.5px -1.5px 0px 0px #0000001f inset;
}

.background_About {
  background: linear-gradient(118.41deg, #e65c00 -6.05%, #f9d423 106.11%);
  backdrop-filter: 10px;
  position: absolute;
  left: 39%;
  top: 5%;
  width: 10rem;
  height: 4rem;
  z-index: 4;
  filter: blur(120px);
}

.founding_color {
  background-image: linear-gradient(
    117.95deg,
    #833ab4 -2.4%,
    #fd1d1d 52.25%,
    #fcb045 106.89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

